<h1>Formularios#contacto</h1>
<h1>Hola mundo</h1>
<h2><%= @titulo %></h2>
<br>
<%= @accion %> - variable del metodo contacto
<br>
<%= @controlador %> - variable del metodo contacto
<p>Opcional pero no preferible, ya que es mejor
poner la logica en el controlador.</p>
<br>
<%= action_name %> proporciona los datos de la vista contacto.html.erb
<br>
<%= controller_name %> es el controlador de <%= action_name %>
<br>
<%= @numeros %>
<br>
<%= @email %>
<br>
<%= @rango %>
<br>
<%= @telefono %>
<br>
<%= @contra %>
<br>

<br>
<%= @busqueda %>
<br>
<%= @fumador %>
<br>
<%= @casado %>
<br>
<%= @color %>
<br>
<%= @colores %>
<br>
<%= @colo %>
<br>
Aqui llega desde POST: <%= @id %>

