<h1>Hola mundo</h1>
<%= @titulo %>
<br>
<%= @accion %> - variable del metodo contacto
<br>
<%= @controlador %> - variable del metodo contacto
<p>Opcional pero no preferible, ya que es mejor
poner la logica en el controlador.</p>
<br>
<%= action_name %> proporciona los datos de la vista contacto.html.erb
<br>
<%= controller_name %> es el controlador de <%= action_name %>
